.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 100%;
  overflow: hidden;
}

.circles div {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles div:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  animation-delay: 0s;
}

.circles div:nth-child(2) {
  left: 10%;
  width: 50px;
  border-radius: 50%;

  height: 50px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles div:nth-child(3) {
  left: 70%;
  width: 50px;
  border-radius: 50%;

  height: 50px;
  animation-delay: 4s;
}

.circles div:nth-child(4) {
  left: 40%;
  width: 60px;
  border-radius: 50%;

  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles div:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  border-radius: 50%;

  animation-delay: 0s;
}

.circles div:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  border-radius: 50%;

  animation-delay: 3s;
}

.circles div:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  animation-delay: 7s;
}

.circles div:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  border-radius: 50%;

  animation-delay: 15s;
  animation-duration: 45s;
}

.circles div:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  animation-delay: 2s;
  animation-duration: 35s;
}

.circles div:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  border-radius: 50%;

  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 1;
    border-radius: 50%;
  }
}

.heroDiv {
  background-color: #d82121;
  animation-name: smoothColorTransition;
  animation-duration: 100s;
  animation-iteration-count: infinite;
}

@keyframes smoothColorTransition {
  0% {
    background-color: red; /* Light Red */
  }
  6.67% {
    background-color: #e92626;
  }
  13.33% {
    background-color: orange;
  }
  20% {
    background-color: orangered; /* Light Orange */
  }
  26.67% {
    background-color: lightcoral; /* Light Yellow */
  }
  33.33% {
    background-color: lightred;
    /* Light Purple */
  }
  40% {
    background-color: #99ccff; /* Light Blue */
  }
  46.67% {
    background-color: #eb35f5; /* Light Blue */
  }
  53.33% {
    background-color: #33ccff; /* Light Blue */
  }
  60% {
    background-color: #00ccff; /* Light Blue */
  }
  66.67% {
    background-color: #00cc99; /* Light Green */
  }
  73.33% {
    background-color: #00cc66; /* Light Green */
  }
  80% {
    background-color: #00cc33; /* Light Green */
  }
  86.67% {
    background-color: #00cc00; /* Light Green */
  }
  93.33% {
    background-color: #ccffcc; /* Light Green */
  }
  100% {
    background-color: #99ff99; /* Light Green */
  }
}
.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-21 14:22:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 1s 0.2s both;
  animation: slide-in-top 1s 0.2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-23 8:39:42
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in-bottom {
  -webkit-animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    0.2s both;
  animation: slide-in-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-23 8:56:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.rotate-center:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-9-23 19:52:11
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.heartbeat:hover {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-9-23 19:56:2
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.rotate-center-loading {
  -webkit-animation: rotate-center 2s linear infinite both;
  animation: rotate-center 2s linear infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2023-10-1 20:4:44
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center-loading {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
